@import '../../vendors/normalize.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

  html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
  }

